.places {
  background: #33283b;
  border-radius: 10px;
  width: calc(100% - 40px);
  padding: 10px;
  margin: 0 20px;

  &___stage {
    background: #173038;
    border: 3px solid #baee9e;
    text-align: center;
    color: #ffffff !important;
    font-size: 16px;
    width: 70%;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 30px auto 0;
  }

  &___seats {
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    &___left {
      width: calc(50% - 40px);
      display: flex;
      flex-wrap: wrap;
    }

    &___right {
      width: calc(50% - 40px);
      display: flex;
      flex-wrap: wrap;
    }
  }

  &___notice {
    display: flex;
    justify-content: flex-end;
  }
}

.seat {
  height: 40px !important;
  margin: 10px;
  border-radius: 10px !important;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.notice {
  width: max-content;
  height: 40px !important;
  margin: 10px;
  padding: 0 10px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button-group {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.full-screen {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
